@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme: hsl(240, 10%, 15%);
    --text: rgba(255, 255, 255, 0.85);
    --accent: #e33d4d;
    font-family: Oxanium, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text);
    background-color: var(--theme);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
}

a {
    font-weight: 500;
    color: var(--text);
    text-decoration: inherit;
}
a:hover {
    color: var(--accent);
}

body {
    margin: 0;
    min-width: 320px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--theme);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--accent);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.header {
    padding: 1rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    background-color: hsla(240, 10%, 5%, 10%);
}

.header > a {
    text-align: center;
}

.App {
    position: relative;
}

.App:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.05;
    background-image: url(/src/assets/backgrounds/mobile4k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agents {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.agent-button {
    background-color: hsla(240, 10%, 5%, 50%);
}

.selected {
    color: var(--accent);
    text-decoration: underline;
}

nav {
    background-color: hsla(240, 10%, 15%, 50%);
}

.ability {
    background-color: #e33d4d20;
}

.place {
    background-color: #e33d4d10;
}

@media only screen and (min-width: 768px) {
    .App:before {
        background-image: url(/src/assets/backgrounds/desktop4k.jpg);
    }

    .header {
        grid-template-columns: repeat(8, 1fr);
    }
}
